{% extends "layout.html" %}
{% block content %}
	<h1>About Us</h1>
	<p class="about-section-space">Quality stands the test of time, and we provide refferals upon request. We receive a large amount of business from customer referrals. We have built a solid reputation on providing the type of service that is customized to meet the needs of our clients.</p>
	<p class="about-section">We understand you (the customer) have many painting companies to choose from and appreciate that you chose us. We will not let you down. Higginbotham Painting will provide you the type of service and quality craftsmanship that personifies the commitment to quality service that we have made.</p>
	<p class="about-section">Higginbotham Painting works as a team, everyone within the company has a role. Our job sites are organized & professionally run. We train our workers to perform at a high level and to accomplish the best possible results. 
	</p>


{% endblock content%}


{% block estimate %}
	<div class="col-md-4">
	      <div class="content-section">
	        <h3>Schedule A Free Estimate</h3>
	        <p class='text-muted'>Select a date and time that works for you.
	          <ul class="list-group">
	          	<form method="POST" action="">
	          		{{ form.hidden_tag() }}
	          		<fieldset class="form-group">
	          			<legend class="border-bottom mb-4">Schedule Now</legend>
	          			<!-- email -->
	          			<div class="form-group">
	          				{{ form.email.label(class="form-control-label") }}

	          				{% if form.email.errors %}
	          					{{ form.email(class="form-control form-control-lg is-invalid") }}
	          					<div class="invalid-feedback">
	          						{% for error in form.email.errors %}
	          							<span>{{ error }}</span>
	          						{% endfor %}
	          					</div>
	          				{% else %}
	          					{{ form.email(class="form-control form-control-lg") }}
	          				{% endif %}
	          			</div>
	          			<p></p>
	          			<!-- phone number -->
	          			<div class="form-group">
	          				{{ form.phone_number.label(class="form-control-label") }}

	          				{% if form.phone_number.errors %}
	          					{{ form.phone_number(class="form-control form-control-lg is-invalid") }}
	          					<div class="invalid-feedback">
	          						{% for error in form.phone_number.errors %}
	          							<span>{{ error }}</span>
	          						{% endfor %}
	          					</div>
	          				{% else %}
	          					{{ form.phone_number(class="form-control form-control-lg") }}
	          				{% endif %}
	          			</div>
	          			<p></p>
	          			<!-- description needs to change -->
	          			<div class="form-group">
	          				{{ form.description.label(class="form-control-label") }}

	          				{% if form.description.errors %}
	          					{{ form.description(class="form-control form-control-lg is-invalid") }}
	          					<div class="invalid-feedback">
	          						{% for error in form.description.errors %}
	          							<span>{{ error }}</span>
	          						{% endfor %}
	          					</div>
	          				{% else %}
	          					{{ form.description(class="form-control form-control-lg") }}
	          				{% endif %}
	          			</div>
	          			<p></p>
	          			<!-- date -->
	          			<div class="form-group">
	          				{{ form.date.label(class="form-control-label") }}

	          				{% if form.date.errors %}
	          					{{ form.date(class="form-control form-control-lg is-invalid") }}
	          					<div class="invalid-feedback">
	          						{% for error in form.date.errors %}
	          							<span>{{ error }}</span>
	          						{% endfor %}
	          					</div>
	          				{% else %}
	          					{{ form.date(class="form-control form-control-lg") }}
	          				{% endif %}
	          			</div>

	          			<!-- submit -->
	          			<div class="form-group">
	          				<p></p> <!-- to put space between btn and form -->
	          				{{ form.submit(class="btn btn-outline-info") }}
	          			</div>
	          		</fieldset>
	          	</form>
	          </ul>
	        </p>
	      </div>
	    </div>
	  </div>
{% endblock estimate %}